@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/scrollbar";

@import "components/header";
@import "components/social-media-icons";

/* 
* {
	margin-bottom: 0;
} */

html {
	// This defines what one rem is
	font-size: 10px;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: black;

	overflow: hidden;

	// animation-name: bodyScrollToggleAnim;
	// animation-duration: 0.5s;
	// animation-delay: 6.5s;
	// animation-iteration-count: 1;
	// animation-fill-mode: forwards;
}

.page-background {
	position: absolute;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	background: linear-gradient(180deg, #00f2ff, #ff0000,#00ff22);
	background-size: 100% 600%;

	//animation: AnimationName 5s ease infinite;
}

@keyframes AnimationName { 
    0%{
		background-position:0% 0%;
	}
	25% {
		background-position:0% 50%;
	}
	50%{
		background-position:0% 100%;
	}
	75% {
		background-position:0% 50%;
	}
    100%{
		background-position:0% 0%;
	}
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  	
}

@import "pages/loading-page";
@import "pages/front-page";
@import "pages/about-page";
@import "pages/projects-page";