@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/scrollbar";

@import "components/header";
@import "components/social-media-icons";

/* 
* {
	margin-bottom: 0;
} */

html {
	// This defines what one rem is
	font-size: 10px;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: black;

	overflow: hidden;

	animation-name: bodyScrollToggleAnim;
	animation-duration: 0.5s;
	animation-delay: 6.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  	
}

@import "pages/loading-page";
@import "pages/front-page";
@import "pages/education-page";
@import "pages/projects-page";