/* Header styling */

.header {
	position: relative;

	user-select: none;

	overflow-wrap: break-word;

	text-align: center;

	top: 50%;
	transform: translateY(-50%);
	
	width: 100%;

	& > h1 {
		font-size: 3.5rem;
	}

	// transform-style: preserve-3d;
}

.header__primary {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 5rem;
	letter-spacing: 3rem;
	display: inline-block;
	transform: scale(1, 1.2);

	z-index: 3;

	opacity: 1;

	backface-visibility: hidden; /* Hack to fix the css animation glitch */

	& span {
		position: relative;
		display:inline-block;
		-webkit-font-smoothing:antialiased;
	}
}

// .header__primary-firstName {
	
// }

// .header__primary-lastName {
	
// }

.header__secondary {
  	font-weight: 100;
	font-size: 2rem;
	
	/* font-style: 'thin'; */
	letter-spacing: 0.5rem;

	// user-select: none;

	opacity: 1;

	backface-visibility: hidden; /* Hack to fix the css animation glitch */
}

.header__line hr {
	border: 0;
    height: 2px;
    background: transparent;
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 1), transparent);

	width: 70%;
	margin-bottom: 0;
	margin-top: 2rem;

	opacity: 1;

	backface-visibility: hidden; /* Hack to fix the css animation glitch */
}

.header__primary-welcome {
	position: absolute;
	width: 100%;
	left: 0;

	opacity: 1;
	visibility: hidden;

	// user-select: none;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 5rem;
	letter-spacing: 3rem;
	display: inline-block;
	transform: scale(1, 1.2);

	z-index: 2;

	backface-visibility: hidden; /* Hack to fix the css animation glitch */
}


.header__link-first {
	margin-top: 2rem !important;
}

.header__link {
	margin-top: 1rem;

	font-weight: 100;
	font-size: 2.5rem;

	text-align: center;
	display: block;

	backface-visibility: hidden; /* Hack to fix the css animation glitch */
}

.header__link span {
	cursor: pointer;
	transition: color 0.3s;
	color: white;
}

.header__link span:hover {
	transition: color 0.3s;
	color: rgb(195, 219, 250);
}
