/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
    /* width: 5px;
	height: 5px; */
	width: 5px;
	height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #777777; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #494949;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #353535; 
}