/* EDUCATION PAGE STYLING */

.education-page-container {
    border-radius: 0rem;

	/*background-color: #282828;*/
	background-color: #161616;
	
  	color: white;
  	padding: 20% 2rem;

  	position: absolute; 
	top: 100vh; // 100vh = 100% of viewport height
	height: 100vh; 

  	left: 0;
	bottom: 0;
  	right: 0;

  	margin-bottom: 0;

  	z-index: 3;
}

#education-page-decorator-top-1 { /* The dark grey part*/
	/*background-color: #282828;*/
	background-color: #161616;

    -webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%);
  	shape-outside: polygon(100% 0, 100% 100%, 0 100%);
  	
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);

    position: absolute;
	top: 50rem; /* Note: Changed in code */
	bottom: 0;

    width: 100%;
    height: 4rem;
    float: right;
    right: 0;

    z-index: 2;
}

#education-page-decorator-top-2 { /* The blue part */
	/*background-color: rgba(0, 148, 255, 1);*/
	/*background-color: rgba(0, 85, 139, 0.7);*/
	/*background-color: rgba(50, 116, 206, 0.7);*/
	background: linear-gradient(to top, rgba(50, 116, 206, 0.7), rgba(50, 116, 206, 0.5));
	
	-webkit-shape-outside: polygon(0 0, 100% 100%, 0 100%);
  	shape-outside: polygon(0 0, 100% 100%, 0 100%);

    -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
  	clip-path: polygon(0 0, 100% 100%, 0 100%);

  	position: absolute;
	top: 50rem; /* Note: Changed in code */
	bottom: 0;

  	float: left;
  	height: 4rem;
  	width: 40%;
  	left: 0;
  	right: 0;

  	z-index: 1;
}

#education-page-decorator-bottom-1 { /* The dark grey part*/
	background-color: #161616;

    -webkit-shape-outside: polygon(100% 0, 0 100%, 0 0);
  	shape-outside: polygon(100% 0, 0 100%, 0 0);
  	
    -webkit-clip-path: polygon(100% 0, 0 100%, 0 0);
    clip-path: polygon(100% 0, 0 100%, 0 0);

    position: absolute;
	top: 50rem; /* Note: Changed in code */
	bottom: 0;

    width: 100%;
    height: 4rem;
    float: right;
    right: 0;

    z-index: 3;
}