/* FRONT PAGE STYLING*/

.front-page__container {
	color: white;
    border-radius: 0rem;
	
	position: absolute;
	top: 0;
	left: 0;

	height: 100vh;
	width: 100vw;

	background-color: transparent;	


	// will-change: transform;

	transition: transform 0.3s;
	transition-timing-function: ease-out;
}


#front-page__canvas {
	height: 100vh;
	width: 100vw;

	top: 0;
 	left: 0;
	position: fixed;
	 
	z-index: -1;
}