/* FRONT PAGE STYLING*/

.front-page__container {
	color: white;
    border-radius: 0rem;
	
	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	background-color: transparent;	

	// visibility: hidden;

	// will-change: transform;

	// transition: transform 0.3s;
	// transition-timing-function: ease-out;

	// perspective: 400px;
	// perspective-origin: 0 75%;

	z-index: 5; // TODO: change?

	cursor: grab;
}

.front-page__container:active {
	cursor: grabbing;
}

#front-page__canvas {
	width: 100vw;
	height: 100vh;

	top: 0;
 	left: 0;
	position: fixed;
	 
	z-index: -1;
}