
.loading-page {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	z-index: 50;

	background-color: rgb(43, 43, 43);
}


.loading-page__bar {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	background-color: red;
	height: 0.5%;
	width: 0%;
}

// /* Loading page */
// .loading-page {
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	background-color: rgb(15, 15, 15);
// 	z-index: 10;

// 	animation-name: loadingPageBackgroundAnim;
// 	animation-duration: 0.5s;
// 	animation-delay: 3s;
// 	animation-iteration-count: 1;
// 	animation-fill-mode: forwards;
	
// }

// .loading-page-progress-bar-container {
// 	position: absolute;
// 	width: 50%;
	
// 	/* Horizontal and vertical center the div */
// 	left: 50%;
// 	top: 50%;
// 	transform: translate(-50%, -50%);
// }

// .loading-page-progress-bar, .loading-page-progress-bar-background {
// 	height: 100%;
// 	width: 100%;
// }

// .loading-page-progress-bar {
// 	float: left;
// 	height: 3px;
// 	background-color: rgb(4, 163, 255);

// 	z-index: 12;

// 	width: 100%;

// 	animation-name: loadingPageProgressBarAnim;
// 	animation-duration: 2.5s;
// 	animation-delay: 0;
// 	animation-iteration-count: 1;
// 	animation-fill-mode: forwards;
// 	animation-timing-function: cubic-bezier(0.79, 0.01, 0.31, 0.99);
// }

// .loading-page-progress-bar-background {	
// 	height: 0.3rem;
// 	background-color: rgb(65, 65, 65);

// 	z-index: 11;
// }

// .loading-page-progress-percent-display {
// 	position: absolute;
// 	color: white;
// 	float: right;
// 	right: 0;
// 	top: 2rem;

// 	font-weight: 100;
// 	font-size: 2rem;
// 	letter-spacing: 0.7rem;

// 	z-index: 12;
// }