.projects-page__container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	color: white;

	cursor: grab;
}

.projects-page__container:active {
	cursor: grabbing;
}

.projects-page__content {
	position: absolute;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
}

.projects-page__header {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.projects-page__image {
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	// max-width: 50% !important;
	display: block;
    // margin-left: auto;
	// margin-right: auto;
	margin: auto;

	border-radius: 5px;
}


.projects-page__more-info-btn {
	margin-left: 50%;

	font-size: 5rem;
}

.projects-page__more-info-btn i {
	color: white;
	transition: color 0.5s;

	&:hover {
		color: rgb(134, 241, 255);
		transition: color 0.5s;
	}

	&:visited, &:link {
		color: white;
	}

	&::after {
		content: "\f107";
		// content: "\f35d";
		display: inline-block;
		position: absolute;
		top: 15%;
		left: 50%;
		z-index: 10;

		transition: all 0s;
	}

	&:hover::after {
		transform: scale(1.5);
		opacity: 0;
		transition: all 0.4s;
	}
}


.projects-page__header-primary {
	font-weight: 300;
	font-size: 4rem;
	letter-spacing: 1rem;
}

.projects-page__header-secondary {
	font-weight: 100;
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
}

.projects-page__header-line {
	& hr {
		position: relative;
		border: 0;
		height: 1px;
		background: transparent;
		background-image: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 1) 2%, transparent 90%);

		clear:both;

		width: 100%;
		margin-left: 0;

		margin-bottom: 0.5rem;
		margin-top: 1.5rem;

		opacity: 1;

		backface-visibility: hidden; /* Hack to fix the css animation glitch */

		z-index: 5;
	}
}