.project-1__container {
	text-align: center;
}

.project-1__image, .project-1__text {
	position: relative;

	box-sizing: border-box;
	display: inline-block;

	border-radius: 0;

	width: 45rem;
	height: 60rem;

	padding: 2rem;
}

.project-1__image {
	background-color: aqua;
}

.project-1__text{
	background-color: coral;
}