/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
    /* width: 5px;
	height: 5px; */
	width: 0px;
	height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #777777; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #494949;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #353535; 
}

/* 
* {
	margin-bottom: 0;
} */

body {
	font-family: 'Lato', sans-serif;
	background-color: black;

	overflow: hidden;

	animation-name: bodyScrollToggleAnim;
	animation-duration: 0.5s;
	animation-delay: 6.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

#particle-canvas {
	width: 100%;
	height: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  	
}

/* Loading page */
.loading-page {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(15, 15, 15);
	z-index: 10;

	animation-name: loadingPageBackgroundAnim;
	animation-duration: 0.5s;
	animation-delay: 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	
}

.loading-page-progress-bar-container {
	position: absolute;
	width: 50%;
	
	/* Horizontal and vertical center the div */
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.loading-page-progress-bar, .loading-page-progress-bar-background {
	height: 100%;
	width: 100%;
}

.loading-page-progress-bar {
	float: left;
	height: 3px;
	background-color: rgb(4, 163, 255);

	z-index: 12;

	width: 100%;

	animation-name: loadingPageProgressBarAnim;
	animation-duration: 2.5s;
	animation-delay: 0;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.79, 0.01, 0.31, 0.99);
}

.loading-page-progress-bar-background {	
	height: 3px;
	background-color: rgb(65, 65, 65);

	z-index: 11;
}

.loading-page-progress-percent-display {
	position: absolute;
	color: white;
	float: right;
	right: 0;
	top: 20px;

	font-weight: 100;
	font-size: 20px;
	letter-spacing: 7px;

	z-index: 12;
}


/* COMMON STYLING FOR PAGES */

.front-page-container, .education-page-container, .projects-page-container {
	border-radius: 0rem;
}

/* FRONT PAGE STYLING*/

.front-page-container {
	background-color: transparent;
  	color: white;
	/* padding: 20% 2rem; */
	padding: 0 2rem 0 2rem;
	
	top: 40%;
}

#canvas-front-page {
	top: 0;
 	left: 0;
 	position: fixed;
}

/* Header styling */

.header-primary {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 50px;
	letter-spacing: 30px;
	display: inline-block;
	transform: scale(1, 1.2);

	z-index: 3;

	opacity: 0;

	animation-name: headerTextPrimaryAnim;
	animation-duration: 1s;
	animation-delay: 6.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	backface-visibility: hidden; /* Hack to fixe the css animation glitch */
}

.header-secondary {
  	font-weight: 100;
	font-size: 20px;
	
	/* font-style: 'thin'; */
	letter-spacing: 5px;

	user-select: none;

	opacity: 0;

	animation-name: headerTextPrimaryAnim;
	animation-duration: 1s;
	animation-delay: 6.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	backface-visibility: hidden; /* Hack to fixe the css animation glitch */
}

.header-primary-welcome {
	position: absolute;
	width: 100%;
	left: 0;

	opacity: 0;

	user-select: none;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 50px;
	letter-spacing: 30px;
	display: inline-block;
	transform: scale(1, 1.2);

	z-index: 2;

	
	animation-name: welcomeTextAnim;
	animation-delay: 3.5s;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	backface-visibility: hidden; /* Hack to fixe the css animation glitch */
}

.header-line hr {
	border: 0;
    height: 1px;
    background: transparent;
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 1), transparent);

	width: 900px;
	margin-bottom: 0;
	margin-top: 20px;

	opacity: 0;

	animation-name: headerLineAnim;
	animation-duration: 1s;
	animation-delay: 6s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	backface-visibility: hidden; /* Hack to fixe the css animation glitch */
}

.social-media-icons {
	padding-top: 10px;
	height: 50px;
}

.social-media-icons a {
	text-decoration: none;
	padding: 0px 10px 0px 10px;
  
	/*color: rgba(0, 148, 255, 1);*/
	color: rgba(216, 216, 216, 1);
	transition: all 0.2s;
  }
  
  .social-media-icons a:hover {
	color: rgba(0, 148, 255, 0.7);
	transition: all 0.2s;
  }
  
  .social-media-icons a > i {
	/*width: 50px !important;
	height: 50px !important;*/
	font-size: 1.7em;
  }

.icon-linkedin, .icon-github, .icon-email, .icon-resume {
	opacity: 0;

	pointer-events: none;
	cursor: default;

	animation-name: socialMediaIconsAnim;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	display: inline-block;

	backface-visibility: hidden; /* Hack to fixe the css animation glitch */
}

.icon-linkedin {
	animation-delay: 6.6s;
}

.icon-github {
	animation-delay: 6.7s;
}

.icon-email {
	animation-delay: 6.8s;
}

.icon-resume {
	animation-delay: 6.9s;
}

/* EDUCATION PAGE STYLING */

.education-page-container {
	/*background-color: #282828;*/
	background-color: #161616;
	
  	color: white;
  	padding: 20% 2rem;

  	position: absolute;
	top: 500px; /* Note: changed in code */
	height: 1000px;
  	left: 0;
	bottom: 0;
  	right: 0;

  	margin-bottom: 0;

  	z-index: 3;
}

#education-page-decorator-top-1 { /* The dark grey part*/
	/*background-color: #282828;*/
	background-color: #161616;

    -webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%);
  	shape-outside: polygon(100% 0, 100% 100%, 0 100%);
  	
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);

    position: absolute;
	top: 500px; /* Note: Changed in code */
	bottom: 0;

    width: 100%;
    height: 40px;
    float: right;
    right: 0;

    z-index: 2;
}

#education-page-decorator-top-2 { /* The blue part */
	/*background-color: rgba(0, 148, 255, 1);*/
	/*background-color: rgba(0, 85, 139, 0.7);*/
	/*background-color: rgba(50, 116, 206, 0.7);*/
	background: linear-gradient(to top, rgba(50, 116, 206, 0.7), rgba(50, 116, 206, 0.5));
	
	-webkit-shape-outside: polygon(0 0, 100% 100%, 0 100%);
  	shape-outside: polygon(0 0, 100% 100%, 0 100%);

    -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
  	clip-path: polygon(0 0, 100% 100%, 0 100%);

  	position: absolute;
	top: 500px; /* Note: Changed in code */
	bottom: 0;

  	float: left;
  	height: 40px;
  	width: 40%;
  	left: 0;
  	right: 0;

  	z-index: 1;
}

#education-page-decorator-bottom-1 { /* The dark grey part*/
	background-color: #161616;

    -webkit-shape-outside: polygon(100% 0, 0 100%, 0 0);
  	shape-outside: polygon(100% 0, 0 100%, 0 0);
  	
    -webkit-clip-path: polygon(100% 0, 0 100%, 0 0);
    clip-path: polygon(100% 0, 0 100%, 0 0);

    position: absolute;
	top: 500px; /* Note: Changed in code */
	bottom: 0;

    width: 100%;
    height: 40px;
    float: right;
    right: 0;

    z-index: 3;
}

/* PROJECTS PAGE STYLING */
.projects-page-container {
	background-color: #262626;
	
  	color: white;
  	padding: 20% 2rem;

  	position: absolute;
	top: 500px; /* Note: changed in code */
	height: 1000px;
  	left: 0;
	bottom: 0;
  	right: 0;

  	margin-bottom: 0;

  	z-index: 2;
}

#projects-page-decorator-top-1 { /* The lighter grey part*/
	background-color: #262626;

    -webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%);
  	shape-outside: polygon(100% 0, 100% 100%, 0 100%);
  	
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);

    position: absolute;
	top: 500px; /* Note: Changed in code */
	bottom: 0;

    width: 100%;
    height: 40px;
    float: right;
    right: 0;

    z-index: 2;
}

#projects-page-decorator-top-2 { /* The blue part */
	/*background-color: rgba(0, 148, 255, 1);*/
	/*background-color: rgba(0, 85, 139, 0.7);*/
	/*background-color: rgba(50, 116, 206, 0.7);*/
	background: linear-gradient(to bottom, rgba(50, 116, 206, 0.7), rgba(50, 116, 206, 0.5));
	
	-webkit-shape-outside: polygon(0 0, 100% 0, 100% 100%);
  	shape-outside: polygon(0 0, 100% 0, 100% 100%);

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
  	clip-path: polygon(0 0, 100% 0, 100% 100%);

  	position: absolute;
	top: 500px; /* Note: Changed in code */
	bottom: 0;

  	float: right;
  	height: 40px;
  	width: 40%;
  	right: 0;

  	z-index: 2;
}




/*html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}*/

